# ====================================
# MISCELLANEOUS
# ====================================
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Temp directories
.temp/
.tmp/

# Logs & Runtime data
logs/
*.pid
*.seed
*.pid.lock
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# ====================================
# NODE (nếu bạn có dùng chung frontend/backend)
# ====================================
/node_modules/
/dist/
/build/
.package-lock.json

# ====================================
# FLUTTER / DART / PUB
# ====================================
.dart_tool/
.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.melos_tool/

# Flutter build
/build/
**/doc/api/
**/ios/Flutter/.last_build_id

# Symbolication & obfuscation
app.*.symbols
app.*.map.json

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# iOS & macOS build artifacts
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
macos/Flutter/ephemeral/
windows/Flutter/ephemeral/
linux/Flutter/ephemeral/
flutter_assets/

# ====================================
# IDE / EDITORS
# ====================================

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VSCode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Eclipse
.project
.classpath
.settings/

# Sublime
*.sublime-workspace

# ====================================
# ENVIRONMENT VARIABLES
# ====================================
.env
.env.*
!.env.example

# ====================================
# COVERAGE / TESTS
# ====================================
coverage/
.nyc_output/
