@import 'tailwindcss';
@import 'tw-animate-css';

/* // Helper config
@mixin flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexBetween{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  @include flexCenter;
}
.flex-between {
  @include flexBetween;
} */

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-roboto: var(--font-roboto);
  --font-mogra: var(--font-mogra);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-indigo-500: var(--indigo-500);
  --color-indigo-600: var(--indigo-600);
  --color-indigo-700: var(--indigo-700);
  --color-indigo-800: var(--indigo-800);
  --color-indigo-900: var(--indigo-900);
  --color-indigo-950: var(--indigo-950);
  --color-paleorange: var(--paleorange);
  --color-dark-cyan: var(--dark-cyan);
  --color-light-blue: var(--light-blue);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  /* edit here */
  --primary: oklch(0.38 0.0618 251.27);
  --primary-foreground: oklch(0.985 0 0);
  --dark-cyan: oklch(0.64 0.0993 213.55);
  --light-blue: oklch(0.59 0.1389 241.97);
  --indigo-500: oklch(0.585 0.233 277.117);
  --indigo-600: oklch(0.511 0.262 276.966);
  --indigo-700: oklch(0.457 0.24 277.023);
  --indigo-800: oklch(0.398 0.195 277.366);
  --indigo-900: oklch(0.359 0.144 278.697);
  --indigo-950: oklch(0.257 0.09 281.288);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --paleorange: oklch(0.7 0.1867 47.6);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: var(--primary);
  --sidebar-foreground: oklch(1 0 242.4);
  --sidebar-primary: oklch(0.86 0.0099 265.56);
  --sidebar-primary-foreground: oklch(0.86 0.0099 265.56);
/* hover bg */
  --sidebar-accent: oklch(0.95 0.0099 324.53);
  --sidebar-accent-foreground: oklch(0.36 0.145 210.5);
  --sidebar-border: oklch(0.95 0.0099 324.53);
  --sidebar-ring: oklch(0.36 0.145 210.5);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --light-blue: oklch(0.59 0.1389 241.97);
  --indigo-500: oklch(0.585 0.233 277.117);
  --indigo-600: oklch(0.511 0.262 276.966);
  --indigo-700: oklch(0.457 0.24 277.023);
  --indigo-800: oklch(0.398 0.195 277.366);
  --indigo-900: oklch(0.359 0.144 278.697);
  --indigo-950: oklch(0.257 0.09 281.288);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --dark-cyan: oklch(0.64 0.0993 213.55);
  --paleorange: oklch(0.7 0.1867 47.6);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    /* default font */
    font-family: var(--font-roboto);
  }
}
